<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        description="Dynamically add as many contacts per student as needed."
        name="Student Contacts"
        version="3.0"
        xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">

    <access_request>
        <field table="U_STUDENT_CONTACTS_STAGING" field="PRIORITY" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS_STAGING" field="LEGAL_GUARDIAN" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS_STAGING" field="LAST_NAME" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS_STAGING" field="FIRST_NAME" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS_STAGING" field="RELATIONSHIP" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS_STAGING" field="MAILING_STREET" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS_STAGING" field="MAILING_CITY" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS_STAGING" field="MAILING_STATE" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS_STAGING" field="MAILING_ZIP" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS_STAGING" field="RESIDENCE_STREET" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS_STAGING" field="RESIDENCE_CITY" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS_STAGING" field="RESIDENCE_STATE" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS_STAGING" field="RESIDENCE_ZIP" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS_STAGING" field="EMPLOYER" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS_STAGING" field="NOTES" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS_STAGING" field="CORRES_LANG" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS_STAGING" field="STATUS" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS_STAGING" field="CONTACT_ID" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS_STAGING" field="CONTACTDCID" access="FullAccess" />

        <field table="U_SC_PHONE_STAGING" field="CONTACTDCID" access="FullAccess"/>
        <field table="U_SC_PHONE_STAGING" field="PHONE_NUMBER" access="FullAccess"/>
        <field table="U_SC_PHONE_STAGING" field="PHONE_TYPE" access="FullAccess"/>
        <field table="U_SC_PHONE_STAGING" field="PHONE_PRIORITY" access="FullAccess"/>
        <field table="U_SC_PHONE_STAGING" field="PHONE_EXTENSION" access="FullAccess"/>
        <field table="U_SC_PHONE_STAGING" field="OPTS_VOICE_EMERGENCY" access="FullAccess"/>
        <field table="U_SC_PHONE_STAGING" field="OPTS_VOICE_HIGH_PRIORITY" access="FullAccess"/>
        <field table="U_SC_PHONE_STAGING" field="OPTS_VOICE_SURVEY" access="FullAccess"/>
        <field table="U_SC_PHONE_STAGING" field="OPTS_VOICE_ATTENDANCE" access="FullAccess"/>
        <field table="U_SC_PHONE_STAGING" field="OPTS_VOICE_GENERAL" access="FullAccess"/>
        <field table="U_SC_PHONE_STAGING" field="OPTS_TEXT_EMERGENCY" access="FullAccess"/>
        <field table="U_SC_PHONE_STAGING" field="OPTS_TEXT_HIGH_PRIORITY" access="FullAccess"/>
        <field table="U_SC_PHONE_STAGING" field="OPTS_TEXT_SURVEY" access="FullAccess"/>
        <field table="U_SC_PHONE_STAGING" field="OPTS_TEXT_ATTENDANCE" access="FullAccess"/>
        <field table="U_SC_PHONE_STAGING" field="OPTS_TEXT_GENERAL" access="FullAccess"/>
        <field table="U_SC_PHONE_STAGING" field="STATUS" access="FullAccess"/>

        <field table="U_SC_EMAIL_STAGING" field="CONTACTDCID" access="FullAccess"/>
        <field table="U_SC_EMAIL_STAGING" field="EMAIL_ADDRESS" access="FullAccess"/>
        <field table="U_SC_EMAIL_STAGING" field="OPTS_EMERGENCY" access="FullAccess"/>
        <field table="U_SC_EMAIL_STAGING" field="OPTS_HIGH_PRIORITY" access="FullAccess"/>
        <field table="U_SC_EMAIL_STAGING" field="OPTS_SURVEY" access="FullAccess"/>
        <field table="U_SC_EMAIL_STAGING" field="OPTS_ATTENDANCE" access="FullAccess"/>
        <field table="U_SC_EMAIL_STAGING" field="OPTS_GENERAL" access="FullAccess"/>
        <field table="U_SC_EMAIL_STAGING" field="STATUS" access="FullAccess"/>

        <field table="U_STUDENT_CONTACTS" field="PRIORITY" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS" field="LEGAL_GUARDIAN" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS" field="LAST_NAME" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS" field="FIRST_NAME" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS" field="RELATIONSHIP" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS" field="MAILING_STREET" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS" field="MAILING_CITY" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS" field="MAILING_STATE" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS" field="MAILING_ZIP" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS" field="RESIDENCE_STREET" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS" field="RESIDENCE_CITY" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS" field="RESIDENCE_STATE" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS" field="RESIDENCE_ZIP" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS" field="EMPLOYER" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS" field="NOTES" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS" field="CORRES_LANG" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS" field="STATUS" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS" field="CONTACT_ID" access="FullAccess" />
        <field table="U_STUDENT_CONTACTS" field="CONTACTDCID" access="FullAccess" />

        <field table="U_SC_PHONE" field="CONTACTDCID" access="FullAccess"/>
        <field table="U_SC_PHONE" field="PHONE_NUMBER" access="FullAccess"/>
        <field table="U_SC_PHONE" field="PHONE_TYPE" access="FullAccess"/>
        <field table="U_SC_PHONE" field="PHONE_PRIORITY" access="FullAccess"/>
        <field table="U_SC_PHONE" field="PHONE_EXTENSION" access="FullAccess"/>
        <field table="U_SC_PHONE" field="OPTS_VOICE_EMERGENCY" access="FullAccess"/>
        <field table="U_SC_PHONE" field="OPTS_VOICE_HIGH_PRIORITY" access="FullAccess"/>
        <field table="U_SC_PHONE" field="OPTS_VOICE_SURVEY" access="FullAccess"/>
        <field table="U_SC_PHONE" field="OPTS_VOICE_ATTENDANCE" access="FullAccess"/>
        <field table="U_SC_PHONE" field="OPTS_VOICE_GENERAL" access="FullAccess"/>
        <field table="U_SC_PHONE" field="OPTS_TEXT_EMERGENCY" access="FullAccess"/>
        <field table="U_SC_PHONE" field="OPTS_TEXT_HIGH_PRIORITY" access="FullAccess"/>
        <field table="U_SC_PHONE" field="OPTS_TEXT_SURVEY" access="FullAccess"/>
        <field table="U_SC_PHONE" field="OPTS_TEXT_ATTENDANCE" access="FullAccess"/>
        <field table="U_SC_PHONE" field="OPTS_TEXT_GENERAL" access="FullAccess"/>

        <field table="U_SC_EMAIL" field="CONTACTDCID" access="FullAccess"/>
        <field table="U_SC_EMAIL" field="EMAIL_ADDRESS" access="FullAccess"/>
        <field table="U_SC_EMAIL" field="OPTS_EMERGENCY" access="FullAccess"/>
        <field table="U_SC_EMAIL" field="OPTS_HIGH_PRIORITY" access="FullAccess"/>
        <field table="U_SC_EMAIL" field="OPTS_SURVEY" access="FullAccess"/>
        <field table="U_SC_EMAIL" field="OPTS_ATTENDANCE" access="FullAccess"/>
        <field table="U_SC_EMAIL" field="OPTS_GENERAL" access="FullAccess"/>
    </access_request>

    <publisher name="Iron County School District Data Team">
        <contact email="data@ironmail.org"/>
    </publisher>
</plugin>